<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<style>
	table, th, td {
   	 border: 1px solid black;
   	 text-align:center;
   	 padding: 14px;
	}
	</style>
	<title th:replace="fragments/fragment :: headerFragment (title='View Dealer')"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div style="margin-left:15px;">
		<br>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h2 th:text="'Dealer ' + ${dealer.id}" style="font-weight:bold"></h2>
					</div>
					<div class="card-body">
						<h5 th:text="'Alamat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + ${dealer.alamat}"></h5>
						<h5 th:text="'No. Telepon 	: ' + ${dealer.noTelp}"></h5>
						<form th:action="@{/dealer/delete/} + ${dealer.id}" style="margin-left:-1px;margin-top:15px">
							<button type="submit" class="btn btn-primary" style="background-color:red;border-color:red;">Hapus Dealer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
		<br>
		<div style="margin-left:15px;">
			<form th:action="@{/car/delete}" th:object="${dealer}" method="POST">
				<table>
					<thead>
						<tr style="height:40px">
							<th style="width:8%;text-align:center">No.</th>
							<th style="width:7%;text-align:center">Id</th>
							<th style="width:20%;text-align:center">Brand</th>
							<th style="width:14%;text-align:center">Type</th>
							<th style="width:15%;text-align:center">Price</th>
							<th style="width:25%;text-align:center">Amount</th>
							<th style="width:14%;text-align:center">Aksi</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="car, iterationStatus : *{listCar}">
						<td th:text="${iterationStatus.count}" align="center"></td>
						<td th:text="${car.id}" align="center"></td> 
						<td th:text="${car.brand}"></td>
						<td th:text="${car.type}"></td>
						<td th:text="${car.price} >= 1000000000 ? 'Diatas 1M' : 'Dibawah 1M'" align="center"></td>
						<td th:text="${car.amount}" align="center"></td>
						<td>
							<input type="checkbox" th:field="*{listCar}" th:value="${car.id}" />
							<label th:for="${#ids.prev('listCar')}">Hapus</label>
						</td>
					</tr>
					</tbody>
				</table>
				<br>
				<button type="submit" class="btn btn-primary">Hapus yang dipilih</button>
			</form>
			<br>
			<form th:action="@{/car/add/} + ${dealer.id}">
				<button value="submit" class="btn btn-primary">Tambah Mobil</button>
			</form>
		</div>
</body>
</html>